
.bg-image{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: blur(5px);
    /* fixes navbar along background */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    margin-top: 40px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    size: 30px;
    transition: color 0.5s ease;
}

.navbar-brand{
    font-family: "Comic Sans MS";
}

.da-linkedin svg {
    transition: transform 0.3s ease; 
}

.da-linkedin svg:hover {
    transform: scale(1.2); 
}
.da-github svg {
    transition: transform 0.3s ease; 
}

.da-github svg:hover {
    transform: scale(1.2); 
}


.navbar-buttons {
    font-family: "Comic Sans MS";
    color:#f7f7f7;
    font-size: 17px;
    padding: 10px 20px;
    margin-right: 50px;
}

.navbar-buttons .nav-link:hover {
    color: #ff0000 !important; /* Change to the color you want on hover ; /* Change to the color you want on hover */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";  
}

.profile-pic {
    margin-bottom: 50%;
    margin-right: 5%;
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    border: 6px solid #433ca6;
    transition: border-color 0.5s ease;
}

.profile-pic:hover {
    border-color:#f7f7f7;
    border-width: 11px;
}

.bio-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

.bio-name {
    margin-top: 5%;
    color: #f7f7f7;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 2.3em;
}

.highlight-name {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #433ca6 50%);
    background-position: 50% 50%;
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio-goals {
    color: #f7f7f7;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin-left: 23%; 
    margin-right: 23%;
    font-size: 1.7em;
}

.position-center {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%
}




/* default black is #001c00 and white is #f7f7f7 */ 




